.change-to-boy-color {
    --hepygirlcolor: var(--hepyboycolor);
}

/* Add your CSS styles here */
.Discover {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}

.discover-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.discover-back-arrow,
.discover-filter-icon {
    font-size: 30px;
    cursor: pointer;
    color: var(--hepygirlcolor)
}

.discover-card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outer-discover-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}

.discover-card {
    height: 50vh;
    margin-top: -60px;
    width: 22vw;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.199);
    position: absolute;
    background-color: rgb(240, 240, 240);
}

.discover-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    backdrop-filter: blur(10px);
    pointer-events: none;
    z-index: 2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-stack {
    display: flex;
    align-items: center;
    gap: 0px;
}

.no-more-profiles-message {
    margin-top: 26vh;
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.card-stack-item {
    position: relative;
    z-index: 1;
}

.mid {
    position: absolute;
}

.card-stack .react-swipe-card {
    background-color: transparent;
}

.discover-card-img img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.discover-card-p {
    position: absolute;
    display: flex;
    z-index: 3;
    color: white;
    bottom: 4vh;
    gap: 15px;
    left: 2vw;
    font-size: 20px;
}

.discover-card-profession {
    position: absolute;
    z-index: 3;
    color: white;
    bottom: 2vh;
    left: 2vw;
    font-size: 12px;
    letter-spacing: 2px;
}

.no-more-cards-message {
    position: absolute;
    top: 30vh;
    left: 15vw;
    font-size: 20px;
    font-weight: bold;
    color: var(--hepygirlcolor)
}

.discover-circle-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23vh;
    position: sticky;
}

.discover-circle-icon {
    margin: 0 10px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffbb00;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.discover-star-circle-icon {
    margin: 0 10px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.discover-big-circle-icon {
    margin: 0 10px;
    width: 80px;
    height: 80px;
    background-color: var(--hepygirlcolor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.discover-footer {
    background-color: #f0f0f0;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.discover-footer.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.discover-footer-icons {
    display: flex;
    justify-content: center;
}

.discover-footer-icon {
    color: rgb(131, 131, 131);
    font-size: 24px;
    margin: 5px 35px;
    text-decoration: none;
    transition: color 0.3s;
}

.discover-footer-icon:hover {
    color: var(--hepygirlcolor);
}


.discoverFilter-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    width: 35%;
    height: 83vh;
    border-radius: 20px;
    margin-top: -67vh;
    position: absolute;
    border: none;
    z-index: 1000;
    position: relative;
    background: white;
    border: 1px solid #a0a096;
    line-height: 1.125em;
    text-align: center;
    margin-left: 32vw;
}

.discoveroverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.discover-filter-heding {
    display: flex;
    justify-content: center;
}

.discover-filter-heding h2 {
    margin-left: 10vw;
    font-weight: bold;
    letter-spacing: 2px;
}

.discoverFilterBtn {
    color: var(--hepygirlcolor);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5vw;
}

.discover-filter-intrest {
    padding-left: 40px;
    padding-right: 40px;
}

.discover-filter-intrest h4 {
    text-align: left;
}

.filter-box-container {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.filter-box {
    margin-bottom: 10px;
    flex: 1 1;
    background-color: white;
    padding: 15px;
    font-size: 13px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-box:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.filter-box:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filter-box:hover {
    background-color: var(--hepygirlcolor);
    color: #fff;
    border: none;
}

.discover-filter-location {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 2vh;
    align-items: center;
}

.discover-filter-locationHead {
    font-weight: bold;
    align-self: flex-start;
    color: gray;
    font-size: 12px;
    margin-left: 4vw;
    margin-bottom: 3px;
}

.css-13cymwt-control {
    height: 50px;
    border-radius: 15px;
    position: relative;
    margin-top: 3px;
    width: 80vw;
    text-align: left;
}

.css-t3ipsp-control {
    height: 2px;
    border-radius: 15px;
    position: relative;
    margin-top: 3px;
    width: 80vw;
    text-align: left;
}

.filter-distance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
}

.filter-distance label {
    font-weight: bold;
}

.filter-distance h3 {
    font-weight: 200;
}

.filter-age-input {
    margin-bottom: 5vh;
}

.filter-location-input input[type="range"] {
    width: 80%;
    height: 3px;
    background-color: darkgray;
    border: none;
    border-radius: 4px;
    outline: none;
    /* -webkit-appearance: none; */
}

.filter-location-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: var(--hepygirlcolor);
    border-radius: 50%;
    cursor: pointer;
}


.filter-age {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    margin-top: 3vh;
}

.filter-age label {
    font-weight: bold;
}

.filter-age h3 {
    font-weight: 200;
}

.filter-age-input input[type="range"] {
    width: 80%;
    height: 3px;
    background-color: darkgray;
    border: none;
    border-radius: 4px;
    outline: none;
    /* -webkit-appearance: none; */
}

.filter-age-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: var(--hepygirlcolor);
    border-radius: 50%;
    cursor: pointer;
}

.filter-box h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.filter-box p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.discoverFilter-toggle-button {
    background-color: transparent;
    color: var(--hepygirlcolor);
    border: none;
    font-size: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: -5px;
}

.discoverFilterclearBtn {
    color: white;
    height: 7vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--hepygirlcolor);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.616);
    font-weight: bold;
    font-size: 15px;
    margin-left: 2.5vw;
}



/* ----------------------------------------------------------Feed page------------------------------------------- */
.feed-app-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.feed-navbar {
    background-color: #ffffff;
    color: rgb(65, 65, 65);
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.feed-containers {
    display: flex;
    background-color: #ecfcff;
    padding-bottom: 20px;
    padding-top: 20px;
}

.feed-user {
    width: 28%;
    padding: 10px;
    font-size: 13px;
    align-items: flex-start;
}

.beingLiked-profiles {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.feed-user-head {
    display: flex;
    justify-content: space-between;
}

.user-list-item {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.feeds {
    flex: 1 1;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.1);
    border-radius: 15px;
    background: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.feed-search-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #bbbbbb;
    border-radius: 15px;
}

.feed-search-bar input {
    margin-left: 10px;
    border: none;
    background-color: #bbbbbb;
    border-radius: 4px;
}

.feed-icons {
    display: flex;
    align-items: center;
    gap: 150px;
    font-size: 22px;
}

.feed-icons>*:hover,
.feed-icons-l>*:hover {
    color: #00d9ff;
    transition: color 0.3s;
    cursor: pointer;
}


.feed-icons-l {
    margin-left: 80px;
    cursor: pointer;
    font-size: 18px;
    gap: 15px;
    display: flex;
    font-size: 22px;
}

.post-circular-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ccc;
}

.post-circular-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pic-circular-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ccc;
}

.pic-circular-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed-post {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feed-post-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.feed-lc-buttons-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.feed-lc-counts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-lc-counts p {
    margin-right: 20px;
    font-size: 10px;
}

.feed-lc-buttons {
    display: flex;
    justify-content: space-between;
}

.like-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 12px;
}

.unlike-button {
    background-color: rgb(247, 49, 49);
    color: white;
    border: none;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 12px;
}

.like-button:hover {
    background-color: #2980b9;
}

.liked-button:hover {
    background-color: rgb(185, 27, 27);
}

.post-comments {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 12px;
}

.post-comment-box {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-header {
    display: flex;
    gap: 10px;
    font-size: 10px;
    color: #555555;
}

.comment-content {
    text-align: left;
    font-size: 12px;
    margin-top: -5px;
    color: #272727;
}

.comment-text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-comment-text {
    width: 70%;
    height: 40px;
    padding: 8px;
    border: none;
    background-color: rgba(245, 245, 245, 0.774);
    border-radius: 10px;
    border: 1px solid rgba(218, 217, 217, 0.829);
    resize: none;
    font-size: 13px;
    line-height: 1.5;
}

.post-comment-box button {
    background-color: #1de5ff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.post-comment-box button:hover {
    background-color: #45a08c;
}


.post-user-name {
    font-size: 13px;
    margin-top: 10px;
    margin-left: 5px;
}

.post-pic-name {
    display: flex;
}

.post-upload-time {
    margin-top: -22px;
    font-size: 10px;
    text-align: left;
    padding-left: 55px;
}

.postContent {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 5px;
    font-size: 15px;
}

.feed-matches {
    width: 28%;
    padding: 10px;
    font-size: 13px;
    align-items: flex-start;
}

.feed-text {
    width: 60%;
    height: 40px;
    padding: 8px;
    border: none;
    background-color: rgba(216, 216, 216, 0.774);
    border-radius: 10px;
    resize: none;
    font-size: 13px;
    line-height: 1.5;
}

.feed-post-container {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 80%;
}

.feed-post-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.feed-img-container {
    width: 100%;
}

.feed-postss {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.feed-posts {
    display: flex;
    justify-content: space-between;
}

.feed-post-image {
    height: 50px;
    width: 50px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f35221;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 10px;
    width: 40px;
    height: 12px;
}

.custom-file-upload:hover {
    background-color: #a1230d;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.feed-matched-user-head {
    display: flex;
    justify-content: space-between;
}